.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
database/*.db
database/*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
app/Bin/internetometer
*.md
!README.md
phpunit.xml
.editorconfig
